{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:import/typescript",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 13,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "prettier", "import"],
  "rules": {
    "prettier/prettier": "warn",
    "react/jsx-filename-extension": "off",
    "import/extensions": "off",
    "react/self-closing-comp": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
